<div class="container-main">

    <div class="list-control">

        <div class="list-container">

            <ul>
                <h2>BIBLITROCA</h2>
                <li>Sobre nós</li>
                <li>Direitos Autorais</li>
                <li>Imprensa</li>
                <li>Blog</li>

            </ul>

        </div>

        <div class="list-container">

            <ul>
                <h2>AJUDA</h2>
                <li>Central De Ajuda</li>
                <li>Nossas Garantias</li>
                <li>Troca E Devolução</li>
                <li>Termos De Uso Do Comprador</li>
                <li>Segurança E Privacidade</li>

            </ul>

        </div>

        <div class="list-container">

            <ul>
                <H2>SAIBA MAIS</H2>
                <li>+livro</li>
                <li>Frete Grátis</li>
                <li>Editora</li>
                <li>Livros Mais Vendidos</li>

            </ul>

        </div>
    </div>
    <div class="contact-control">
        <h2>NOSSAS REDES</h2>
        <div class="contact-container">
            <a href="#"><img src="/assets/icons/instagram.png" alt=""></a>
            <a href="#"><img src="/assets/icons/facebook.png" alt="" srcset=""></a>
            <a href="#"><img src="/assets/icons/linkedin.png" alt="" srcset=""></a>
            <a href="#"><img src="/assets/icons/twitter.png" alt="" srcset=""></a>
        </div>

    </div>

</div>