.container-main{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    text-align: center;
}

.list-control{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: 1%;
    color: #f6f6f6;   
}

.list-container> ul{
    padding: 20px;
    text-align: center;
    text-align: center;
    list-style: none;
}

.list-container> ul > li{
    padding: 9px;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-control {
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-top: 20px;
   margin-right: 15%;
    color: #f6f6f6;
    padding: 15px;
}

.contact-container{
    display: grid;
    grid-template-columns: auto auto;
     gap: 10px; 
    padding: 15px;
}

.contact-container> a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    width: 70px;
    color: #f6f6f6;
}