<div class="container-main">
    <div class="list-control">
        <div class="list-container">

            <ul>
                <h4>Quem Somos?</h4>
                <li>Sobre nós</li>
                <li>Direitos Autorais</li>
                <li>Imprensa</li>
                <li>Blog</li>

            </ul>

        </div>

        <div class="list-container">

            <ul>
                <h4>Ajuda</h4>
                <li>Central De Ajuda</li>
                <li>Nossas Garantias</li>
                <li>Troca E Devolução</li>
                <li>Termos De Uso Do Comprador</li>
                <li>Segurança E Privacidade</li>

            </ul>

        </div>

        <div class="list-container">

            <ul>
                <li>+livro</li>
                <li>Frete Grátis</li>
                <li>Editora</li>
                <li>Livros Mais Vendidos</li>

            </ul>

        </div>
    </div>
    <div class="contact-control">
        <h3>Formas de Pagamento</h3>
        <div class="contact-container">

            <a href="#">Instagram</a>
            <a href="#">Facebook</a>
            <a href="#">X</a>
            <a href="#">Linkedin</a>

    
        </div>

    </div>

</div>