  
    <!--Iremos utilizar o ngfor para tornar a lista dinamica -->
<div class="container-main">

    <div class="title">

        <h1>MAIS VENDIDOS EM EBOOKS</h1>
        <a href="#">Ver mais </a>
    </div>
    
    <div class="container-card">

            <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <h4>Mulheres que correm com lobos</h4>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/510CMxWIujL._SY445_SX342_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <h4>A princesa salva a si mesma neste livro</h4>
                    <p>Amanda Lovelace</p>
                    <p>Editora</p>
                    <span>R$24,99</span>

                </div>

            </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/518OcOHA7XL._SY445_SX342_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <h4>Você pode curar sua vida</h4>
                    <p>Louise L. Hay</p>
                    <p>Editora</p>
                    <span>R$39,90</span>

                </div>

            </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/510CMxWIujL._SY445_SX342_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <h4>A princesa salva a si mesma neste livro</h4>
                    <p>Amanda Lovelace</p>
                    <p>Editora</p>
                    <span>R$24,99</span>

                </div>


            </div>

            <div class="card-book">

        <div class="img-book">
            <img src="https://m.media-amazon.com/images/I/510CMxWIujL._SY445_SX342_.jpg" alt="" srcset="">
        </div>

        <div class="info-book">

            <h4>A princesa salva a si mesma neste livro</h4>
            <p>Amanda Lovelace</p>
            <p>Editora</p>
            <span>R$24,99</span>

        </div>



</div>

