.title {
    display: flex;
    width: 100%; /* Alterado para 100% */
    align-items: center;
    margin-bottom: 10px;
}

.title > h1 {
    margin-left: 20px;
    color: #333;
    padding: 25px;
}

.title > a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 100vw; 
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.info-book > h4 {
    font-size: 15px;
    font-weight: normal;
}

.info-book > p {
    font-weight: normal;
}

.info-book > span {
    font-weight: bold;
}

.card-section {
    display: flex;
    flex-direction: column;
}

.img-book > img {
    width: 100px;
    height: 200px;
    border-radius: 10px;
}
