.container-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.base-cart{
    border-bottom: 1px solid #979797;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.title-cart > h1{
    margin-bottom: 50px;
   
}

.info-cart{
    padding: 10px;
    
}

.product-n, .product-v {
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.product-n > p, .product-v > p {
    width: 200px;
    padding: 10px;
    justify-content: space-around;
    

}