<div class="container-cart">


    <div class="base-cart">

        <div class="title-cart">
            <h1>CARRINHO</h1>
        </div>

        <div class="info-cart">

        
            <div class="product-container">

                    <div class="product-n">  
                        <P>Produto</P>
                        <P>Valor</P>
                        <P>Frete</P>
                        <P>Total</P>
                    </div>

                    <div class="product-v" >  
                        <p>ebook1</p>
                        <p>Valor</p>
                        <p>12,00</p>
                        <p>52,00</p>
                    </div>
            </div>

           


        </div>

    </div>


</div>