<div class="container-main">

    <h1>Em Destaque</h1>
    <a href="#">Ver mais > </a>
    <!--usar ngfor, repetição temporária para ilustrar-->
    <div class="container-card">



        <div class="img-book">
            <img src="https://m.media-amazon.com/images/I/41ICqRXYQxL._SY445_SX342_.jpg" alt="" srcset="">
        </div>
            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/51OddNutMxL._SX342_SY445_.jpg" alt="" srcset="">
            </div>

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/51ECUGEIQkL._SX342_SY445_.jpg" alt="" srcset="">
                </div>


    </div>
