<div class="container-card">

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_01.jpg" alt="" srcset="">

        <p>Universitários e Acadêmicos</p>

    </div>

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_02.jpg" alt="" srcset="">

        <p>Inglês e outras Línguas</p>

    </div>

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_03.jpg" alt="" srcset="">

        <p>HQs e Mangás</p>

    </div>

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_04.jpg" alt="" srcset="">

        <p>Religião e Espititualidade</p>

    </div>

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_05.jpg" alt="" srcset="">

        <p>Universitários e Acadêmicos</p>

    </div>

    <div class="card-component">

        <img id="img-section" src="assets/Imagem_categories_04.jpg" alt="" srcset="">

        <p>Religião e Espititualidade</p>

    </div>




</div>