
<div class="categories-container">

    <!--INSERIR CAMINHO PARA O PROPRIO COMPONENTE-->
    <div class="title-card">

    <h1>NAVEGUE POR CATEGORIAS</h1>
    <a routerLink="/categorias">
        <p>Ver mais</p></a>
    </div>

    <div class="container-card">

        <div class="card-component">

            <img [src]="image | async" alt="" srcset="" />
            <p>Universitários e Acadêmicos</p>

        </div>

        <div class="card-component">

            <img [src]="image | async" alt="" srcset="" />

            <p>Inglês e outras Línguas</p>

        </div>

        <div class="card-component">

            <img [src]="image | async" alt="" srcset="" />

            <p>HQs e Mangás</p>

        </div>

        <div class="card-component">

            <img [src]="image | async" alt="" srcset="" />

            <p>Religião e Espititualidade</p>

        </div>


        <div class="card-component">

            <img [src]="image | async" alt="" srcset="" />

            <p>Didáticos e Escolares</p>

        </div>




    </div>
</div>
