<app-nav-bar>
</app-nav-bar>

    <div class="container-main">

        <div class="title">
               
                <h2>CATEGORIAS</h2>
        </div>

        <div class="title-categoria">
            <P>Universitários e Acadêmicos:</P>
        </div>

        <div class="grid-sebo">
            

        <div class="card-book">


            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>Mulheres que correm com lobos</span>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

        <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>Mulheres que correm com lobos</span>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

        <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>Mulheres que correm com lobos</span>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

        <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>Mulheres que correm com lobos</span>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

        <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>Mulheres que correm com lobos</span>
                <p>Clarissa Pinkola</p>
                <p>Editora</p>
                <span>R$44,99</span>
            </div>

        </div>

        </div>

        <div class="title-categoria">
            <P>Inglês e outras Línguas:</P>
        </div>

        <div class="grid-sebo">
            

            <div class="card-book">
    
    
                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                </div>
    
                <div class="info-book">
                    <span>Mulheres que correm com lobos</span>
                    <p>Clarissa Pinkola</p>
                    <p>Editora</p>
                    <span>R$44,99</span>
                </div>
    
            </div>
    
            <div class="card-book">
    
                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                </div>
    
                <div class="info-book">
                    <span>Mulheres que correm com lobos</span>
                    <p>Clarissa Pinkola</p>
                    <p>Editora</p>
                    <span>R$44,99</span>
                </div>
    
            </div>
    
            <div class="card-book">
    
                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                </div>
    
                <div class="info-book">
                    <span>Mulheres que correm com lobos</span>
                    <p>Clarissa Pinkola</p>
                    <p>Editora</p>
                    <span>R$44,99</span>
                </div>
    
            </div>
    
            <div class="card-book">
    
                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                </div>
    
                <div class="info-book">
                    <span>Mulheres que correm com lobos</span>
                    <p>Clarissa Pinkola</p>
                    <p>Editora</p>
                    <span>R$44,99</span>
                </div>
    
            </div>
    
            <div class="card-book">
    
                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                </div>
    
                <div class="info-book">
                    <span>Mulheres que correm com lobos</span>
                    <p>Clarissa Pinkola</p>
                    <p>Editora</p>
                    <span>R$44,99</span>
                </div>
    
            </div>
    
            </div>

            <div class="title-categoria">
                <P>HQs e Mangás:</P>
            </div>
    
            <div class="grid-sebo">
                
    
                <div class="card-book">
        
        
                    <div class="img-book">
                        <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                    </div>
        
                    <div class="info-book">
                        <span>Mulheres que correm com lobos</span>
                        <p>Clarissa Pinkola</p>
                        <p>Editora</p>
                        <span>R$44,99</span>
                    </div>
        
                </div>
        
                <div class="card-book">
        
                    <div class="img-book">
                        <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                    </div>
        
                    <div class="info-book">
                        <span>Mulheres que correm com lobos</span>
                        <p>Clarissa Pinkola</p>
                        <p>Editora</p>
                        <span>R$44,99</span>
                    </div>
        
                </div>
        
                <div class="card-book">
        
                    <div class="img-book">
                        <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                    </div>
        
                    <div class="info-book">
                        <span>Mulheres que correm com lobos</span>
                        <p>Clarissa Pinkola</p>
                        <p>Editora</p>
                        <span>R$44,99</span>
                    </div>
        
                </div>
        
                <div class="card-book">
        
                    <div class="img-book">
                        <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                    </div>
        
                    <div class="info-book">
                        <span>Mulheres que correm com lobos</span>
                        <p>Clarissa Pinkola</p>
                        <p>Editora</p>
                        <span>R$44,99</span>
                    </div>
        
                </div>
        
                <div class="card-book">
        
                    <div class="img-book">
                        <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                    </div>
        
                    <div class="info-book">
                        <span>Mulheres que correm com lobos</span>
                        <p>Clarissa Pinkola</p>
                        <p>Editora</p>
                        <span>R$44,99</span>
                    </div>
        
                </div>
        
                </div>


                <div class="title-categoria">
                    <P>Religião e Espititualidade:</P>
                </div>
        
                <div class="grid-sebo">
                    
        
                    <div class="card-book">
            
            
                        <div class="img-book">
                            <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                        </div>
            
                        <div class="info-book">
                            <span>Mulheres que correm com lobos</span>
                            <p>Clarissa Pinkola</p>
                            <p>Editora</p>
                            <span>R$44,99</span>
                        </div>
            
                    </div>
            
                    <div class="card-book">
            
                        <div class="img-book">
                            <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                        </div>
            
                        <div class="info-book">
                            <span>Mulheres que correm com lobos</span>
                            <p>Clarissa Pinkola</p>
                            <p>Editora</p>
                            <span>R$44,99</span>
                        </div>
            
                    </div>
            
                    <div class="card-book">
            
                        <div class="img-book">
                            <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                        </div>
            
                        <div class="info-book">
                            <span>Mulheres que correm com lobos</span>
                            <p>Clarissa Pinkola</p>
                            <p>Editora</p>
                            <span>R$44,99</span>
                        </div>
            
                    </div>
            
                    <div class="card-book">
            
                        <div class="img-book">
                            <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                        </div>
            
                        <div class="info-book">
                            <span>Mulheres que correm com lobos</span>
                            <p>Clarissa Pinkola</p>
                            <p>Editora</p>
                            <span>R$44,99</span>
                        </div>
            
                    </div>
            
                    <div class="card-book">
            
                        <div class="img-book">
                            <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                        </div>
            
                        <div class="info-book">
                            <span>Mulheres que correm com lobos</span>
                            <p>Clarissa Pinkola</p>
                            <p>Editora</p>
                            <span>R$44,99</span>
                        </div>
            
                    </div>
            
                    </div>


                    <div class="title-categoria">
                        <P>Universitários e Acadêmicos:</P>
                    </div>
            
                    <div class="grid-sebo">
                        
            
                        <div class="card-book">
                
                
                            <div class="img-book">
                                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                            </div>
                
                            <div class="info-book">
                                <span>Mulheres que correm com lobos</span>
                                <p>Clarissa Pinkola</p>
                                <p>Editora</p>
                                <span>R$44,99</span>
                            </div>
                
                        </div>
                
                        <div class="card-book">
                
                            <div class="img-book">
                                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                            </div>
                
                            <div class="info-book">
                                <span>Mulheres que correm com lobos</span>
                                <p>Clarissa Pinkola</p>
                                <p>Editora</p>
                                <span>R$44,99</span>
                            </div>
                
                        </div>
                
                        <div class="card-book">
                
                            <div class="img-book">
                                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                            </div>
                
                            <div class="info-book">
                                <span>Mulheres que correm com lobos</span>
                                <p>Clarissa Pinkola</p>
                                <p>Editora</p>
                                <span>R$44,99</span>
                            </div>
                
                        </div>
                
                        <div class="card-book">
                
                            <div class="img-book">
                                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                            </div>
                
                            <div class="info-book">
                                <span>Mulheres que correm com lobos</span>
                                <p>Clarissa Pinkola</p>
                                <p>Editora</p>
                                <span>R$44,99</span>
                            </div>
                
                        </div>
                
                        <div class="card-book">
                
                            <div class="img-book">
                                <img src="https://m.media-amazon.com/images/I/41ogXvQ5WYL._SY445_SX342_.jpg" alt="" srcset="">
                            </div>
                
                            <div class="info-book">
                                <span>Mulheres que correm com lobos</span>
                                <p>Clarissa Pinkola</p>
                                <p>Editora</p>
                                <span>R$44,99</span>
                            </div>
                
                        </div>
                
                        </div>

    </div>
        
        

<app-footer-card>
</app-footer-card>