input:placeholder-shown + label {
    opacity:0;
    transform: translateY(100%);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  input {
    /* width: 100%; */
    padding:20px;
    margin:20px 0;
    border:1px solid black;
    transition: all 0.1s;
    font-size:15px;
  }
  
  .group {
    position: relative;
  }
  
  input + label {
    border:1px solid black;
    position: absolute;
    top:0;
    left: 20px;
    transition: all 0.1s;
    opacity:1;
    background:white;
    border:2px solid;
    border-width: 0 2px 0 2px;
    padding:0 5px;
    transform: translateY(calc(50% + 5px));
  }
  
  input:focus {
    outline:0;
    border-color:#F6F6F6;
  }
  
  input:focus + label {
    border-color:#F6F6F6;
  }
  .button{
    background-color: #612AFF;
    border-radius: 5px;
    border: thin solid;
    padding: 5px 10px;
    color: white;
  }