<app-nav-bar></app-nav-bar>
<div>
    <h1>ENTRAR</h1>
</div>
<div>
    <div class="container">
        <form class="line-input">
            <div class="group">
                <input type="text" placeholder="Email"> 
                <label>Email</label>
            </div>
            <div class="group">
                <input type="text" placeholder="Senha">
                <label>Senha</label>
            </div>
             
        </form>
    </div>

</div>
<div>
    <button class="button">Entrar</button>
    <h1>Não tem conta ?</h1>
    <h1><u>Crie uma conta</u></h1>
</div>
<app-footer-card></app-footer-card>