<div class="container-navbar">

    <div class="navbar">

        <h1>BIBLITROCA</h1>

        <div class="container-input">

            
            <input id="searh-bar" type="text" placeholder="">
            <!--icone search-->

        </div>

        <div class="options-navbar">

            <a href="#">Home</a>
            <a href="#">Sebo</a>
            <a href="#">Categorias</a>
            <a href="#">Mais Vendidos</a>

        </div>

        <div class="container-options">


        </div>

    </div>


</div>