<app-nav-bar></app-nav-bar>
<div class="centro">
  <div class="centro">
    <h1 class="centro"><b>ENTRAR</b></h1>
    <app-continue-with></app-continue-with>
  </div>
  <div class="centro">
    <p>OU</p>
  </div>
  <div class="container centro">
    <form class="line-input">
      <div class="group">
        <input type="text" placeholder="Email" />
        <label>Email</label>
      </div>
      <div class="group">
        <input type="password" placeholder="Senha" />
        <label>Senha</label>
      </div>
    </form>
  </div>
  <div>
    <div class="centro">
        <button class="button">Entrar</button>
    </div>
    <h3>Não tem conta ?</h3>
    <a routerLink="/createAccount"><h3><u>Crie uma conta</u></h3></a>
  </div>
</div>
<app-footer-card></app-footer-card>
