<div>
    <h1>CRIE SUA CONTA</h1>
</div>
<div>
    <p>
        Entre com o Google
    </p>
    <p>
        Entre com o Facebook
    </p>
</div>
<div>
    <p>OU</p>
</div>

<div>
    <form>
        <input type="text" placeholder="Nome completo">
        <input type="text" placeholder="Email"> 
        <input type="text" placeholder="Senha"> 
    </form>
</div>
<div>
    <input type="radio" >
    <label>Aceito os <u>termos e condições</u></label>
</div>
<div>
    <button>Criar Conta</button>
    <h1>Já tem conta ?</h1>
    <h1><u>Faça login</u></h1>
</div>
