    <!--componente responsável pela lista de lançamento -->
    <!--Iremos utilizar o ngfor para tornar a lista dinamica -->
    <div class="container-main">

        <div class="section-txt">
        <h1>MAIS VENDIDOS DO SEBO</h1>
        <a href="#">Ver mais </a>
        </div>
    
        <div class="container-card">

            <div class="card-book">

            <div class="img-book">
                <img src="https://m.media-amazon.com/images/I/51KvntpPRpL._SY445_SX342_.jpg" alt="" srcset="">
            </div>

            <div class="info-book">
                <span>A arte da guerra</span>
                <p>Sun Tzu</p>
                <p>Editora</p>
                <span>R$10,00</span>
            </div>

        </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/81h4CdNxdgL._SY385_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <span>O Príncipe</span>
                    <p>Maquiavel</p>
                    <p>Editora</p>
                    <span>R$12,35</span>

                </div>

            </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/61owA5ey3iL._SY445_SX342_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <span>A revolução dos bichos</span>
                    <p>George Orwell</p>
                    <p>Editora</p>
                    <span>R$9,98</span>

                </div>

            </div>

            <div class="card-book">

                <div class="img-book">
                    <img src="https://m.media-amazon.com/images/I/51Rh4tVjGcL._SY445_SX342_.jpg" alt="" srcset="">
                </div>

                <div class="info-book">

                    <span>As coisas que você só vê quando desacelera</span>
                    <p>Haemin Sunim</p>
                    <p>Editora</p>
                    <span>R$20,00</span>

                </div>


            </div>

            <div class="card-book">

        <div class="img-book">
            <img src="https://m.media-amazon.com/images/I/31q03ksZmSL._SY445_SX342_.jpg" alt="" srcset="">
        </div>

        <div class="info-book">

            <span>talvez a sua jornada agora seja só sobre você</span>
            <p>Iandê Albuquerque</p>
            <p>Editora</p>
            <span>R$27,90</span>

        </div>


</div>

