.container-main {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 20px;
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.section-txt > a {
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.card-book {
    padding: 5px;
}

.info-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-book > h4,
.info-book > p {
    font-size: 15px; /* Consolidado com 12px */
    font-weight: normal;
    align-items: center;
}

.info-book > span {
    font-size: 13px;
    font-weight: bold;
}

.card-section {
    display: flex;
    flex-direction: column;
}

.img-book > img {
    width: 100px; /* Corrigido de 100x para 100px */
    height: 200px;
    border-radius: 10px;
}
