.container-main{
    display: flex;
    flex-direction: column;
    width: 217vh;
    padding: 20px;
    
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.section-txt{
    display: flex;
    align-items: center;
    padding: 25px;
}

.section-txt > a{
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.card-book{
    padding: 5px;
}

.info-book {
    display: flex;
    align-items: flex-start;
    width: 150px;
}

.info-book >h4 {
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
}

.info-book > p {
    font-size: 12px;
  font-weight:normal;
  align-items: center;
}

.info-book >span{
    font-size: 13px;
    font-weight: bold;
}

.card-section{
    display: flex;
    flex-direction: column;
}

.img-book > img{
    width: 100x;
    height: 200px;
    border-radius: 10px;
}

.info-book{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}